@model IEnumerable<Team2Application.Models.LibraryResource>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @section scripts {
        <script src="~/lib/microsoft-signalr/signalr.js"></script>
        <script src="~/js/IndexLibrary.js"></script>
    }

<h1>Index</h1>

<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recommandation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recommandation)
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Url)</a>
            </td>
            <td>
                @if (User.IsInRole("Operator")) 
                {  
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <span>|</span>
                 }

                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 

                @if (User.IsInRole("Operator"))
                {
                <span>|</span>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                } 
            </td>
        </tr>
}
    </tbody>
</table>
